//global color variable
$color-yellow: #ffd951;
$color-navy: #1d2650;
$color-black: #515151;
$color-white: #ffffff;

$color-navy: #1d2650;
$color-black: #333333;
$color-error: #ff5b5b;
$color-disabled: #8b8b8b;
$bg-disabled: #d1d1d1;
$color-yellow-hover: #ffb801;
$brand-color: #ffd951;

//button gradient
$yellow-gradient: linear-gradient(
  45deg,
  rgba(246, 208, 46, 1) 0%,
  rgba(246, 201, 46, 1) 27.5%,
  rgb(246, 194, 46, 1) 40%,
  rgba(246, 187, 46, 1) 57.5%,
  rgba(246, 180, 46, 1) 75%,
  rgb(246, 172, 46, 1) 100%
);

$yellow-gradient-hover: linear-gradient(
  45deg,
  rgba(246, 208, 46, 0.8) 0%,
  rgba(246, 201, 46, 0.8) 27.5%,
  rgb(246, 194, 46, 0.8) 40%,
  rgba(246, 187, 46, 0.8) 57.5%,
  rgba(246, 180, 46, 0.8) 75%,
  rgb(246, 172, 46, 0.8) 100%
);
