@import "variables.scss";
@import "./tailwind.scss";

fonc html,
body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333333;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.47;
  letter-spacing: -0.022em;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

section {
  position: relative;
}

h1 {
  font-family: "Roboto";
}

h2 {
  font-weight: 400;
}

h3,
h4,
h5 {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

b {
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  color: #363636;
}

button {
  cursor: pointer;
  border: none;
  // background-color: transparent;
}

button:focus {
  outline: 0;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 40px;
}

span {
  display: inline-flex;
}
.label {
  font-family: "Roboto";
  font-weight: 400;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  background-color: #ffeeb4;
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-small {
  font-size: 12px;
  width: 66px;
  height: 24px;
}
.label-medium {
  font-size: 16px;
  width: 75px;
  height: 28px;
}
.label-large {
  font-size: 18px;
  width: 80px;
  height: 32px;
}

textarea {
  font-family: "Roboto";
  resize: none;

  &:focus {
    outline: none;
  }
}

input:focus {
  outline: none;
}

.page__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.layoug__container {
  position: relative;
}

.page__container {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component__wrap {
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

hr {
  width: 100%;
  color: #c4c4c4;
}

.border2 {
  border-bottom: 2px solid #dbdbdb;
}

//global animation
.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

#slider {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

::-moz-selection {
  // background: #ff8616;
  background-color: $color-yellow;
}
::selection {
  // background: #ff8616;
  background-color: $color-yellow;
  color: #fff;
}

//button gradient
$yellow-gradient: linear-gradient(
  45deg,
  rgba(246, 208, 46, 1) 0%,
  rgba(246, 201, 46, 1) 27.5%,
  rgb(246, 194, 46, 1) 40%,
  rgba(246, 187, 46, 1) 57.5%,
  rgba(246, 180, 46, 1) 75%,
  rgb(246, 172, 46, 1) 100%
);

$yellow-gradient-hover: linear-gradient(
  45deg,
  rgba(246, 208, 46, 0.8) 0%,
  rgba(246, 201, 46, 0.8) 27.5%,
  rgb(246, 194, 46, 0.8) 40%,
  rgba(246, 187, 46, 0.8) 57.5%,
  rgba(246, 180, 46, 0.8) 75%,
  rgb(246, 172, 46, 0.8) 100%
);
